.main-interactive-section {
  padding: 0 60px 30px;
}

.section-container {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  padding: 30px 50px 30px;
}

.section-container-last {
  padding: 30px 50px 30px;
}

.time-for-bed {
  display: flex;
  flex-direction: column;
}

.time-for-bed h1 {
  text-align: center;
}

.how-much-sleep-want {
  display: flex;
  flex-direction: column;
}

.how-much-sleep-want input {
  margin: 10px 10px 10px 0;
  width: 10%;
}

.how-much-sleep-want button {
  width: 15vw;
  font-size: 1vw;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #bf8399 !important;
  /* border-color: #bf8399 !important; */
}

.start-end-location {
  
}

.start-location {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.start-location input {
  margin-left: 2vw;
  margin-right: auto;
}

.final-dest {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.final-dest input {
  margin-left: 2.4vw;
  margin-right: auto;
}

.time-at-final-dest-title {
  display: flex;
  padding-bottom: 10px;
}

.time-at-final-dest-inputs {
  display: flex;
  padding-bottom: 10px;
}

.time-at-final-dest-inputs input {
  width: 10%;
}

.time-at-final-dest-inputs span {
  padding: 0 10px;
}

.add-activity-text {
  display: flex;
  padding: 0 0 10px;
}



/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.add-activity-hidden {
  display: none;
}

.hidden-class {
  display: none;
}

.visible-class {

}



